[submodule "divis-prevent-64"]
	path = divis-prevent-64
	url = https://github.com/riteshkawadkar/divis-prevent-64.git
[submodule "divis-prevent-32"]
	path = divis-prevent-32
	url = https://github.com/riteshkawadkar/divis-prevent-32.git
