[submodule "divis-prevent-64"]
	path = divis-prevent-64
	url = https://github.com/riteshkawadkar/divis-prevent-64.git
[submodule "divis-prevent-32"]
	path = divis-prevent-32
	url = https://github.com/riteshkawadkar/divis-prevent-32.git
[submodule "shriram-prevent-32"]
	path = shriram-prevent-32
	url = https://github.com/riteshkawadkar/shriram-prevent-32.git
[submodule "shriram-prevent-64"]
	path = shriram-prevent-64
	url = https://github.com/riteshkawadkar/shriram-prevent-64.git
[submodule "llabs-prevent-32"]
	path = llabs-prevent-32
	url = https://github.com/riteshkawadkar/llabs-prevent-32.git
[submodule "llabs-prevent-64"]
	path = llabs-prevent-64
	url = https://github.com/riteshkawadkar/llabs-prevent-64.git
[submodule "kemwell-prevent-64"]
	path = kemwell-prevent-64
	url = https://github.com/riteshkawadkar/kemwell-prevent-64.git
[submodule "kemwell-prevent-32"]
	path = kemwell-prevent-32
	url = https://github.com/riteshkawadkar/kemwell-prevent-32.git
[submodule "amneal-prevent-64"]
	path = amneal-prevent-64
	url = https://github.com/riteshkawadkar/amneal-prevent-64.git
[submodule "amneal-prevent-32"]
	path = amneal-prevent-32
	url = https://github.com/riteshkawadkar/amneal-prevent-32.git
